<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbConnStr" connectionString="Data Source=mrinallap;Initial Catalog=medisdata;Integrated Security=False;User=sa;Password=dasmondal;" providerName="System.Data.SqlClient"/>
        <add name="Medis.My.MySettings.TestConnectionString" connectionString="Data Source=user-pc;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Medis.My.MySettings.medisdataConnectionString" connectionString="Data Source=SOUMEN-PC;Initial Catalog=medisdata;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
