@model List<string>
@{
    ViewBag.Title = "Countries";
}

<h2>Countries</h2>
<b>Child List loaded @@ @DateTime.Now.ToString()</b>
<br />
<ul>
    @foreach (string country in Model)
    {
        <li>
            <b>
                @country
            </b>
        </li>
    }
</ul>


