@model MyMVC_Project.Models.Member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>thanks</title>
</head>
<body>
    <div> 
        <h2>Thank you to become a member</h2>
        <p>@Model.MemberName</p>
        <p>@Model.MemberAddress</p>
        <p>@Model.MemberAge</p>
    </div>
</body>
</html>
