body
{
    background-position: center center;
    margin: 50px auto 0px auto;
    background-image: url('../Images/Fiat-Standalone-Service-Center-at-Pune.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
